.lovely_errMessage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.lovely_errmessage_text{
    text-align: center;
    margin: 0px;
    color: var(--black);
    font-family: 'Poppins', cursive;
    font-size: 1.5em;
}
.lovely_errmessage_text.lovely_big_icon{
    font-size: 4em;
    color: var(--dark-orange);
}