.lovely_wrapper{
    min-height: 100vh;
}

.lovely_top_wrapper{
    width: 100vw;
    padding-top:60px;
    height: 100vh;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.zindex{
    position: relative;
    z-index: 4;
}
.lovely_top_content{
    width: 100%;
}
.lovely_top_text{
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.lovely_top_head{
    font-family: 'Bebas Neue', cursive;
    color: var(--orange);
    text-align: center;
    font-size: 4em;
    letter-spacing: 3px;
    margin: 0px;
    text-shadow: 0px 5px 0px #CE5937;
}
.lovely_top_offer{
    font-size: 1.8em;
    font-family: 'Poppins', cursive;
    color: var(--orange);
    margin: 20px 0px 0px 0px;
    text-align: center;
}
.bigger{
    font-size: 1.2em;
}
.lovely_decorations{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: var(--light-black);
    clip-path: circle(50% at 4% 95%);
}
.lovely_bottom_wrapper{
    width: 100%;
}
.lovely_bottom_content{
    width: 100vw;
    margin: 0 auto;
}
.lovely_search_bar_wrapper{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lovely_search_bar{
    flex-direction: row;
    margin: 0px auto;
    padding: 5px;
    width: 100%;
    position: relative;
}
#lovely_input{
    border: 4px solid var(--black);
    border-radius: 8px;
    padding-left: 8px;
    width: 100%;
    padding-right: 15%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}
#lovely_input:focus{
    border: 4px solid var(--orange);
    transition: .5s;
}

#lovely_input:focus ~ #lovely_button{
    color: var(--orange);
    transition: .5s;
}

#lovely_button{
    transition: .5s;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 5px;
    background: none;
}
.lovely_form_variant{
    font-family: 'Poppins', cursive;
    height: 45px;
    font-size: 1.2em;
    margin: 0px;
    color: var(--light-black);
    outline-style: none;
    border: none;
}
.lovely_bottom_card_wrapper{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

@media screen and (max-height:568px){
    div.lovely_top_wrapper{
        height: 650px;
    }
}

@media screen and (min-height:900px){
    div.lovely_top_wrapper{
        height: 900px;
    }
}

@media screen and (min-width:921px){
    .lovely_search_bar_wrapper{
        width: 921px;
        margin: 0 auto;
    }
    .lovely_top_head{
        font-size: 5em;
    }
    .lovely_top_offer{
        font-size: 2em;
    }
    
}
@media screen and (min-width:1111px){
    .lovely_bottom_card_wrapper{
        width: 1111px;
        margin: 0 auto;
    }
}

