.main_wrapper{
    width: 100vw;
    flex-direction: column;
    background: var(--white);
}
.main_padding{
    padding-bottom: 80px;
    padding-top: 80px;
}
.testing{
    width: 100vw;
    height: 1000px;
    background: purple;
}
div.main_content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 80px;
    padding-bottom: 80px;
}
.balls_right{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--bold-white);
    clip-path: circle(39.5% at 85% 17%);

}
.main_content_opener{
    width: 1250px;
    /* background: blue; */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right:50px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
}
@media screen and (max-height: 980px) {
    div.main_wrapper {
        padding-bottom: 0px;
        padding-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.main_padding{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    div.main_content{
        position: relative;
        height: 100vh;;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


.main_content_opener{
    margin: 0 auto;
    width: 1250px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right:50px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
}

.left_side{
    width: 400px;
    height: 350px;
    padding-right: 20px;
    z-index: 8;
}
.main_text{
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-bottom: 2px;
    color: var(--black);
    word-spacing: 10px;
}
.right_side{
    z-index: 8;
    height: 350px;
    /* background: black; */
    display: flex;
    align-items: center;
}
.image_logo{
    width: 400px;
    height: auto;
}

.orange{
    color: var(--orange);
}
.explore_wrapper{
    width: 180px;
    height: 45px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.explore_text{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color : var(--white);
    font-weight: 600;
}
.p_text{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 500;
    
}
@media screen and (max-width: 1310px) {
    div.main_content_opener{
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-direction: row;
    }
}

/* @media screen and (max-width: 993px) {
    .image_logo{
        width: 300px;
    }
} */
@media screen and (max-width: 852px) {
    .explore_text{
        font-size: 1.2em;
    }
    div.main_content_opener{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .p_text{
        text-align: center;
    }
    .main_text{
        text-align: center;
    }
    .explore_wrapper{
        width: 80%;
        margin: 0 auto;
    }
    .image_logo{
        margin: 0 auto;
        width: 80%;
        height: 80%;
    }
}


@media screen and (max-width: 787px) {
    div.main_content_opener{
        flex-direction: column-reverse;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .explore_wrapper{
        width: 80%;
        margin: 0 auto;
    }
    .p_text{
        text-align: center;
    }
    .main_text{
        text-align: center;
    }
    .left_side{
        width: 60%;
    }
    .right_side{
        width: 70%;
    }
    .image_logo{
        width: 80%;
        height: 90%;
    }
    .right_side{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 250px;
    }
}

@media screen and (max-width: 606px) {
    .main_content_opener{
        flex-direction: column-reverse;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .p_text{
        text-align: center;
        font-size: .9em;
    }
    .main_text{
        font-size: 2em;
        text-align: center;
    }
    .left_side{
        width: 80%;
    }
    .image_logo{
        width: 100%;
        height: auto;
    }
    .right_side{
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

