/* MAIN - open */
.lovely_wrapper{
    width: 100vw;
    /* min-height: 100vh; */
    display :flex;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 60px;
}
.lovely_divider{
    width: 90%;
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.lovely_left{
    width: 80%;
    order: 1;
    margin: 0 auto;
}
.lovely_right{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.lovely_image_logo{
    width: 80%;
    margin: 0 auto;
}
.lovely_main_text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: var(--black);
    word-spacing: 4px;
}
.lovely_p_text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}
.lovely_explore_wrapper{
    width: 70%;
    height: 45px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.lovely_explore_text{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}
.lovely_orange{
    color : var(--orange);
}


/* MAIN - close*/

/* BELOW - open */
.lovely_circle{
    position: absolute;
    top: 15px;
    right: 10%;
    width: 100px;
}

div.lovely_who_wrapper.lovely_who{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    margin-bottom: 60px;
    position: relative;
    z-index: 10;
}
.lovely_flexed_who{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    opacity: 0;
    transform: translateY(10%);
    position: relative;
}

.lovely_who_text_wrap{
    padding: 10px;
    position: relative;
    z-index: 9;
}
.lovely_who_head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    word-spacing: 6px;
    color: var(--black);
}

.lovely_who_text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .9em;
    color: var(--black);
}
.lovely_head_wrapper{
    padding: 0px;
    width: 60%;
    margin: 0 auto;
}
.lovely_long_bar{
    width: 100%;
    height: 10px;
    background-color: var(--orange);
}
.lovely_detail_wrapper{
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lovely_who_ball{
    width: 100%;
    height: 80%;
    background: var(--bold-white);
    position: absolute;
    clip-path: circle(30% at 30% 30%);
}
.lovely_detail_who{
    width: 800px;
    height: 300px;
    /* background: green; */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
@media (max-width:846px){
    div.lovely_detail_who{
        width: 100%;
        flex-direction: row;
        height: auto;
        align-items: center;
    }
}
/* BELOW - close */



/* Ball - open */
.lovely_z_index{
    z-index: 4;
}
.absolute_lovely_ball{
    transition: 1s;
    width: 100vw;
    height: 100vh;
    background: var(--bold-white);
    position: absolute;
    top: 0px;
    clip-path: circle(35.7% at 81% 10%);
}
/* Ball - close */











@media (max-width:823px){
    .lovely_circle{
        display: none;
    }
}




@media (min-width: 365px) {
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 100vh;
        /* background: rgb(0, 119, 255); */
    }
    .lovely_main_text{
        font-size: 2.5em;
    }
    .lovely_p_text{
        font-size: 1.2em;
    }
    /* Main - close */
}

@media (min-width: 576px) {
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 100vh;
        /* background: rgb(0, 119, 255); */
    }
    .lovely_main_text{
        font-size: 2.5em;
    }
    .lovely_p_text{
        font-size: 1.2em;
    }
    /* Main - close */

    /* WHO - open */
    .lovely_who_text_wrap{
        width: 600px;
    }
    .lovely_who_head{
        font-size: 2.2em;
    }
    .lovely_who_text{
        font-size: 1.1em;
    }
    .lovely_who_ball{
        transition: 1s;
        clip-path: circle(150px at 22% 35%);
    }
    /* WHO - open */
}

@media (min-width: 768px) {
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 100vh;
    }
    div.lovely_divider{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    div.lovely_right{
        order: 1;
    }
    div.lovely_left{
        order: 0;
    }
    .lovely_p_text{
        text-align: left;
    }
    .lovely_main_text{
        text-align: left;
        font-size: 2.8em;
    }
    .lovely_explore_wrapper{
        margin: 0;
        width: 180px;
    }
    /* Main - close */
}
@media (max-height: 640px){
    /* Main - open */
    .lovely_wrapper{
        height: 680px;
    }
    /* Main - close */
}

@media (min-width: 768px) and (min-height: 1024px) {
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 600px;
        /* background: rgb(255, 0, 255); */
    }
    /* Main - close */
}


@media (min-width: 992px) and (max-height :765px){
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 100vh;
    }
    div.lovely_divider{
        display: flex;
        flex-direction: row;
    }
    .lovely_right{
        width: 500px;
    }
    .lovely_left{
        width: 500px;
    }
    /* Main - close */
}

@media (min-width: 1200px) and (min-height : 1024px) {
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 600px;
    }
    .lovely_divider{
        width: 90%;   
    }
    /* Main - close */
}

@media (min-height : 766px) and (min-width : 600px){
    /* Main - open */
    .lovely_wrapper{
        width: 100vw;
        height: 600px;
    }
    /* Main - close */
}

@media (min-width: 1400px) {
    /* Main - open */
    .lovely_wrapper{
        margin: 0 auto;
        width: 1250px;
        height: 600px;
    }
    .lovely_divider{
        width: 1300px;
    }
    .lovely_left{
        width: 50%;
    }
    .lovely_right{
        width: 45%;
        padding-left: 90px;
    }
    /* Main - close */
}