/* MAIN - open */
.lovely_welcoming{
    width: 100vw;
    /* min-height: 100vh; */
    display :flex;
    justify-content: center;
    padding-top: 60px;
}
.lovely_divider{
    width: 90%;
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.lovely_left{
    width: 80%;
    order: 1;
    margin: 0 auto;
}
.lovely_right{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.lovely_image_logo{
    width: 80%;
    margin: 0 auto;
}
.lovely_main_text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: var(--black);
    word-spacing: 4px;
}
.lovely_p_text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}
.lovely_explore_wrapper{
    width: 70%;
    height: 45px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.lovely_explore_text{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}
.lovely_orange{
    color : var(--orange);
}
/* MAIN - close*/

@media (min-width: 365px) {
    .lovely_welcoming{
        width: 100vw;
        height: 100vh;
        /* background: rgb(0, 119, 255); */
    }
    .lovely_main_text{
        font-size: 2.5em;
    }
    .lovely_p_text{
        font-size: 1.2em;
    }
}

@media (min-width: 576px) {
    .lovely_welcoming{
        width: 100vw;
        height: 100vh;
        /* background: rgb(0, 119, 255); */
    }
    .lovely_main_text{
        font-size: 2.5em;
    }
    .lovely_p_text{
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {
    .lovely_welcoming{
        width: 100vw;
        height: 100vh;
    }
    div.lovely_divider{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    div.lovely_right{
        order: 1;
    }
    div.lovely_left{
        order: 0;
    }
    .lovely_p_text{
        text-align: left;
    }
    .lovely_main_text{
        text-align: left;
        font-size: 2.8em;
    }
    .lovely_explore_wrapper{
        margin: 0;
        width: 180px;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    .lovely_welcoming{
        width: 100vw;
        height: 600px;
        /* background: rgb(255, 0, 255); */
    }
}


@media (min-width: 992px) and (max-height :765px){
    .lovely_welcoming{
        width: 100vw;
        height: 100vh;
    }
    div.lovely_divider{
        display: flex;
        flex-direction: row;
    }
    .lovely_right{
        width: 500px;
    }
    .lovely_left{
        width: 500px;
    }
}

@media (min-width: 1200px) and (min-height : 1024px) {
    .lovely_welcoming{
        width: 100vw;
        height: 600px;
    }
    .lovely_divider{
        width: 90%;   
    }
}

@media (min-height : 766px) and (min-width : 600px){
    .lovely_welcoming{
        width: 100vw;
        height: 600px;
    }
}

@media (min-width: 1400px) {
    .lovely_welcoming{
        width: 100vw;
        height: 600px;
    }
    .lovely_divider{
        width: 1300px;
    }
    .lovely_left{
        width: 50%;
    }
    .lovely_right{
        width: 45%;
        padding-left: 90px;
    }
}